.text2 {
  color: black;
  text-align: justify;
}

.ffff {
  text-align: justify;
}



.hhh {
  color: black;
  text-align: justify;
}

.cxc {
  width: 100%;
  margin-top: 10%;
}

.hh {
  color: black;
}

.fgf {
  width: 110%;
}

.fgh {
  width: 100%;
}