.menu-container {
  width: 100%;
  margin: 0 auto;
}

.menu-container ul {
  margin: 0;
  padding: 0;
}

.menu-container ul li {
  display: inline;
  text-align: center;
}

.menu-container a {
  margin: 0;
  display: inline-block;
  padding: 0.75rem 0;
  text-decoration: none;
  color: #333;
}

.menu-container a:link {
  color: black;
}

.menu-container hr {
  margin: 0;
  height: 0.25rem;
  background: tomato;
  border: none;
  transition: 0.3s ease-in-out;
}